# Create this secret with your own registry credentials:
#
# kubectl create secret docker-registry quay-pull-secret -n openshell \
#   --docker-server=quay.io \
#   --docker-username="YOUR_ROBOT_ACCOUNT" \
#   --docker-password="YOUR_TOKEN"
#
# Or apply a YAML file:
# apiVersion: v1
# kind: Secret
# metadata:
#   name: quay-pull-secret
# data:
#   .dockerconfigjson: <base64-encoded-dockerconfigjson>
# type: kubernetes.io/dockerconfigjson
